<div class='header clearfix rows'>

  <div class='logo-container'>
    <div class='logo'></div>

    <div id='header-info'>
      <h1 id='header-title'>Randy Panado</h1>
      <h2>Director of Photography</h2>
      <h2>Aerial Cinematographer</h2>
    </div>
  </div>
  
  <div class='nav-section show-for-large'>
    <ul class='nav-list'>
      <li class='nav-item work'>Work</li>
      <li class='nav-item about'>About</li>
      <li class='nav-item equipment'>Equipment</li>
      <li class='nav-item chronicles'>Chronicles</li>
      <li class='nav-item contact'>Contact</li>
    </ul>
  </div>

</div>