<div ng-include="'common/partials/_nav.html'"></div>

<div class='compressed-nav show-for-large' ng-class='{"show-nav":boolChangeClass}'>

  <div class='logo-container'>
    <div id='header-info'>
      <h1 id='header-title'>Randy Panado</h1>
      <h2 class='show-for-large'>Director of Photography</h2>
      <h2 class='show-for-large'>Aerial Cinematographer</h2>
    </div>
  </div>
  
  <div class='title-banner single-article-banner'>
    <h1>Back to {{previousState}}</h1>
  </div>

  <img src='../../../assets/icons/menu.svg' class='toggle-dropdown desktop-toggle' ng-click='toggleDropdown=!toggleDropdown'>

  <div class='desktop-dropdown-nav'>
    <ul ng-show='toggleDropdown' class='nav-list'>
      <li class='nav-item'><a ui-sref='home'>Work</a></li>
      <li class='nav-item'><a ui-sref='about'>About</a></li>
      <li class='nav-item'><a ui-sref='about'>Equipment</a></li>
      <li class='nav-item'><a ui-sref='chronicles'>Chronicles</a></li>
      <li class='nav-item'><a ui-sref='home'>Contact</a></li>
    </ul>
  </div>
    
</div>  

<div class='page-content-container' id='single-article' scroll>


  <div class='title-banner single-article-banner'>
    <h1>Back to {{previousState}}</h1>
  </div>

  <div class='content-container'>
    <div class='rows'>
      
      <div class='large-12 columns blog-content-wrapper'>

        <div class='blog-content'>
          <img ng-src='{{article.categoryIcon}}' class='icon article-icon hide-for-large'>


          <div class='blog-image-wrapper'>
            <img ng-src="{{article.image}}" alt="">
          </div>

          <div class='article-content'>
            <img src='../../../assets/icons/photography.svg' class='icon category-icon show-for-large'>
            <h3 class='article-title'>{{article.title}}</h3>
            <h4 class='article-subtitle' ng-repeat='category in article.category'>{{category.name}}</h4>
            <span class='article-date date'>1 week ago | 123 comments</span>
            <p class='article-text'>
              {{article.text}}
            </p>
            <div class='social-media-icons'>
              <img src='../../../assets/icons/facebook.svg' class='icon facebook'>
              <img src='../../../assets/icons/twitter.svg' class='icon twitter'>
              <img src='../../../assets/icons/instagram.svg' class='icon instagram'>
            </div>
          </div>

        </div>

      </div>

    <div class='footer large-12 columns show-for-large'>
      <div class='footer-notes'>
        <ul>
          <li>&copy;2015 Panado</li>
          <li>Designed by GomaGames</li>
          <li>Built With AirshipCMS</li>
        </ul>
      </div>
    </div>
  </div>

</div>