<div ng-include="'common/partials/_nav.html'"></div>

<div class='condensed-nav about-condensed-nav' ng-class='{"show-nav":boolChangeClass}'>

  <div class='logo-container'>
    <div id='header-info'>
      <h1 id='header-title'>Randy Panado</h1>
      <h2 class='show-for-large'>Director of Photography</h2>
      <h2 class='show-for-large'>Aerial Cinematographer</h2>
    </div>
  </div>

  <img src='../../../assets/icons/menu.svg' class='toggle-dropdown desktop-toggle' ng-click='toggleDropdown=!toggleDropdown'>

  <div class='desktop-dropdown-nav'>
    <ul ng-show='toggleDropdown' class='nav-list'>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' ui-sref='home'>Work</a></li>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' href='#about' du-smooth-scroll duration='1000' offset='150'>About</a></li>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' href='#equipment-section' du-smooth-scroll duration='1000' offset='150'>Equipment</a></li>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' ui-sref='chronicles'>Chronicles</a></li>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' ui-sref='home({scrollTo: "contact-section"})'>Contact</a></li>
    </ul>
  </div>
    
  <div class='about-nav-section'>
    <ul class='about-nav-list'>
      <li class='page-nav-item' duration='1000' offset='150' du-smooth-scroll='about' du-scrollspy='about'>About</li>
      <li class='page-nav-item' duration='1000' offset='150' du-smooth-scroll='credits-section' du-scrollspy='credits-section'>Credits</li>
      <li class='page-nav-item' duration='1000' offset='150' du-smooth-scroll='equipment-section' du-scrollspy='equipment-section'>Equipment</li>
    </ul>
  </div>
</div>  

<div id='about-page'>

  <div class='title-banner'>
    <h1 class='page-title title'>About Randy Panado</h1>
    <h2 class='subtitle'>Subtitle Here Subtitle Here</h2>
  </div>

  <div id='page-nav'>
    <ul class='page-nav-list'>
      <li class='page-nav-item' ng-class='{active: activeSection == "about"}' duration='1000' offset='150' du-smooth-scroll='about'>About</li>
      <li class='page-nav-item' ng-class='{active: activeSection == "credits"}' duration='1000' offset='150' du-smooth-scroll='credits-section'>Credits</li>
      <li class='page-nav-item' ng-class='{active: activeSection == "equipment"}' duration='1000' offset='150' du-smooth-scroll='equipment-section'>Equipment</li>
    </ul>
  </div>

  <div class='content-container'>

    <section id='about'>
      <h3 class='title section-title hide-for-large'>about</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eveniet totam quis, voluptatum id dignissimos, quisquam illum temporibus ipsa unde ab quae provident nobis aliquam dicta mollitia a praesentium, sunt.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nostrum iure quod, sed sit suscipit animi illo incidunt, molestiae, sequi iste cumque in inventore ab repellat aut, blanditiis velit architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptate quas neque nulla placeat optio iusto numquam laborum illo aliquam rem obcaecati, quos, assumenda reprehenderit minus quam eos alias sed.
      </p>

      <div class='rows about-photos clearfix' scroll>
        <div class='large-6 columns photo-container'>
          <img src="http://placehold.it/300" alt="">
        </div>
        <div class='large-6 columns photo-container'>
          <img src="http://placehold.it/300" alt="">
        </div>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sint mollitia, doloribus deserunt consequuntur quas odit ipsum nesciunt eius quos, possimus dolor. Vero distinctio vitae, repellat quo aliquid. Eligendi, sequi!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe corporis quod harum est deserunt, voluptate labore velit praesentium accusamus consequuntur assumenda quam, atque sunt explicabo quas voluptas id adipisci nemo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis facere iste, aliquam, excepturi vero commodi sequi pariatur ab maiores magnam dignissimos eligendi odit necessitatibus! Reprehenderit distinctio temporibus, et in provident!
      </p>

      <img src="http://placehold.it/700x300" alt="" class='show-for-large'>
    </section>

    <section id='credits-section'>
      <h3 class='section-title title'>Credits</h3>
      <div class='rows' id='credits'>
        <div class='large-6 columns'>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
        </div>
        <div class='large-6 columns'>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
        </div>
      </div>
    </section>
    
    <section id='equipment-section'>
      <h3 class='section-title title'>Equipment</h3>
      <div class='rows' id='equipment'>
        <div class='large-6 columns'>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
        </div>
        <div class='large-6 columns'>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
          <h3>Lorem Ipsum Dolor</h3>
          <p>Consectrtur adipiscing</p>
        </div>
      </div>
    </section>

    <div class='footer-notes'>
      <ul>
        <li>&copy;2015 Panado</li>
        <li>Designed by GomaGames</li>
        <li>Built With AirshipCMS</li>
      </ul>
    </div>

  </div>
</div>