<div class='header-container' ng-include="'common/partials/_nav.html'"></div>

<div scroll id='blog-nav' class='condensed-nav' ng-class='{"show-nav":boolChangeClass}'>

  <div class='logo-container'>
    <div id='header-info'>
      <h1 id='header-title'>Randy Panado</h1>
      <h2 class='show-for-large'>Director of Photography</h2>
      <h2 class='show-for-large'>Aerial Cinematographer</h2>
    </div>
  </div>
    
  <div class='category-container'>
    <ul class='category-list'>
      <li class='category-item'>
        <img src='../../../assets/icons/all-posts.svg' class='nav-item-icon' ui-sref='chronicles'>
        <h1>Label</h1>
      </li>  
      <li class='category-item'>
        <img src='../../../assets/icons/photography.svg' class='nav-item-icon' ui-sref='category({category: "tools & techniques"})'>
        <h1>Label</h1>
      </li>  
      <li class='category-item'>
        <img src='../../../assets/icons/adventure.svg' class='nav-item-icon' ui-sref='category({category: "adventures"})'>
        <h1>Label</h1>
      </li>  
      <li class='category-item'>
        <img src='../../../assets/icons/aerials.svg' class='nav-item-icon' ui-sref='category({category: "aerials"})'>
        <h1>Label</h1>
      </li>  
      <li class='category-item'>
        <img src='../../../assets/icons/gear-talk.svg' class='nav-item-icon' ui-sref='category({category: "gear talk"})'>
        <h1>Label</h1>
      </li>  
      <li class='category-item'>
        <img src='../../../assets/icons/corporate.svg' class='nav-item-icon' ui-sref='category({category: "corporate"})'>
        <h1>Label</h1>
      </li>  
    </ul>
  </div>
    
  <div class='toggle-dropdown desktop-toggle' ng-click='toggleDropdown=!toggleDropdown'>
    <div class='bar first'></div>
    <div class='bar second'></div>
    <div class='bar third'></div>
  </div>

  <div class='desktop-dropdown-nav'>
    <ul ng-show='toggleDropdown' class='nav-list'>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' ui-sref='home'>Work</a></li>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' ui-sref='about({scrollTo: "about"})'>About</a></li>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' ui-sref='about({scrollTo: "equipment-section"})'>Equipment</a></li>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' ui-sref='chronicles'>Chronicles</a></li>
      <li class='nav-item'><a ng-click='toggleDropdown=!toggleDropdown' ui-sref='home({scrollTo: "contact-section"})'>Contact</a></li>
    </ul>
  </div>

</div>

<div class='page-content-container' id='blog-page'>


  <div class='title-banner'>
    <h1 class='page-title title'>Chronicles</h1>
    <h2 class='subtitle'>Blog/Articles</h2>
  </div>

  <div class='content-container'>
    <div class='rows'>
      
      <div class='large-9 columns blog-content-wrapper'>

        <div class='blog-content' ng-repeat='article in articles | limitTo: 2'>
          <img class='icon article-icon hide-for-large' ng-src='{{article.categoryIcon}}'>


          <div class='blog-image-wrapper'>
            <img ng-src="{{article.image}}" alt="" ng-click='openArticle($index, article.id)'>
          </div>

          <div class='article-content'>
            <img ng-src='{{article.categoryIcon}}' class='icon category-icon show-for-large'>
            <h3 class='article-title'>{{article.title}}</h3>
            <h4 class='article-subtitle' ng-repeat='category in article.category'>{{category.name}}</h4>
            <span class='article-date date'>1 week ago | 123 comments</span>
            <p class='article-text'>
              {{article.text}}
            </p>
            <div class='social-media-icons'>
              <img src='../../../assets/icons/facebook.svg' class='icon facebook'>
              <img src='../../../assets/icons/twitter.svg' class='icon twitter'>
              <img src='../../../assets/icons/instagram.svg' class='icon instagram'>
            </div>
          </div>
          

        </div>

      </div>

      <div class='large-3 columns show-for-large' id='instagram-sidebar'>
        <img src='../../../assets/icons/instagram.svg' class='icon instagram'>

        <div class='instagram-content'>
          <img src="http://placehold.it/200" alt="">
          <span class='date'>Oct 1, 2013</span>
          <p class='instagram-caption'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perspiciatis soluta eos, molestiae porro temporibus ratione.</p>
        </div>

        <div class='instagram-content'>
          <img src="http://placehold.it/200" alt="">
          <span class='date'>Oct 1, 2013</span>
          <p class='instagram-caption'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perspiciatis soluta eos, molestiae porro temporibus ratione.</p>
        </div>

        <div class='instagram-content'>
          <img src="http://placehold.it/200" alt="">
          <span class='date'>Oct 1, 2013</span>
          <p class='instagram-caption'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perspiciatis soluta eos, molestiae porro temporibus ratione.</p>
        </div>

        <div class='instagram-content'>
          <img src="http://placehold.it/200" alt="">
          <span class='date'>Oct 1, 2013</span>
          <p class='instagram-caption'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perspiciatis soluta eos, molestiae porro temporibus ratione.</p>
        </div>

        <div class='instagram-content'>
          <img src="http://placehold.it/200" alt="">
          <span class='date'>Oct 1, 2013</span>
          <p class='instagram-caption'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perspiciatis soluta eos, molestiae porro temporibus ratione.</p>
        </div>

      </div>

    </div>

    <div class='footer large-12 columns show-for-large'>
      <div class='footer-notes'>
        <ul>
          <li>&copy;2015 Panado</li>
          <li>Designed by GomaGames</li>
          <li>Built With AirshipCMS</li>
        </ul>
      </div>
    </div>
  </div>

</div>