@import '../utils/mixins';
@import '../utils/variables';

#page-nav {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid #BDE0E0;
  font-family: 'Novecento Sans';
  text-transform: uppercase;
  color: #6E6E6E;
  font-size: 14px;
  background-color: #FBFAF6;
}
#about {
  margin: 0 auto;
  font-family: 'proxima-nova';
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;

  p {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @include respond-to('large') {
    max-width: 700px;
    color: #B0B0AF;
  }
}
.about-photos {
  text-align: center;
  position: relative;
  width: 100%; 
  overflow: hidden;

  .right {
    border-right: 1px solid #D7D7D6;
  }
}

#credits-section,
#equipment-section {
  border-bottom: 1px solid #BDE0E0;
  text-align: center;
  font-family: 'Novecento Sans';
  // max-width: 700px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%; 
  position: relative;
  overflow: hidden;

  div:first-child {
    border-right: 1px solid #D7D7D6;
  }

  h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #616160;
  }

  p {
    color: #A5A5A4;
  }
}
#credits-section {
  border-top: 1px solid #BDE0E0;
}