@import '../utils/mixins';
@import '../utils/variables';

.title-banner {
  text-align: center;
  background-color: #FBFAF6;
  
  @include respond-to('medium-small') {
    padding: 50px;
  }

  @include respond-to('large') {
    border-top: 1px solid #BDE0E0;
    border-bottom: 1px solid #BDE0E0;
    padding: 100px;
  }

  .subtitle {
    color: #92BDBD;
    font-family: 'Novecento Sans';
  }
}
#blog-page .content-container {
  
  @include respond-to('medium-small') {
    padding-top: 20px;
  }
}
.icon.article-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
}
.page-title {
  font-family: 'Caviar Dreams';

  @include respond-to('medium-small') {
    font-size: 30px;
  }
  
  @include respond-to('large') {
    font-size: 50px;
  }
}
.content-container {
  background-image: url('../assets/images/bg4.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #FBFAF6;
  background-size: 100%;
  overflow: auto;
}
.blog-content-wrapper {
  border-right: 1px solid #BDE0E0;
}
.blog-content {
  font-family: 'Novecento Sans';
  position: relative;

  @include respond-to('small') {
    padding: 15px;
  }

  @include respond-to('medium-small') {
    border-top: 2px solid #BDE0E0;
  }

  @include respond-to('medium') {
    padding: 30px;
  }

  @include respond-to('large') {
    margin: 50px;
  }
}
.blog-image-wrapper {
  text-align: center;
  margin-bottom: 20px;

  img {
    margin-top: 20px;
  }
}
.article-content {
  max-width: 700px;
  margin: 0 auto; 
}
.article-title {
  color: #515151;

  @include respond-to('medium') {
    margin: 30px;
  }

  @include respond-to('medium-small'){
    font-size: 20px;
    margin-bottom: 10px;
  }

  @include respond-to('large'){
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.article-subtitle {
  color: #9A9A9A;
  text-transform: uppercase;

  @include respond-to('medium-small') {
    color: #A0C6C7;
    font-size: 12px;
  }
}
.category-icon {

  @include respond-to('large') {
    position: relative;
    right: 50px;
    top: 40px;
  }
}
.date {

  @include respond-to('medium-small') {
    color: #A0C6C7;
    font-size: 12px;
  }

  @include respond-to('large') {
    font-size: 12px;
    color: #989796;
  }
}
.article-text {

  @include respond-to('medium-small') {
    color: #858585;
    margin-top: 15px;
    font-size: 14px;
    line-height: 15px;
  }

  @include respond-to('large') {
    margin-top: 20px;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #B0B0AF;
  }
}
.social-media-icons {

  @include respond-to('medium-small') {
    text-align: center;
    margin-top: 30px;
  }
}

#instagram-sidebar {
  font-family: 'Novecento Sans';
  text-align: center;
}
.icon.instagram {
  margin-top: 20px;
  margin-bottom: 20px;
}
.instagram-content {
  text-align: left;

  @include respond-to('small') {
    padding: 15px;
    padding-top: 0;
  }

  @include respond-to('medium') {
    padding: 30px;
    padding-top: 0;
  }

  @include respond-to('large') {
    padding: 50px;
    padding-top: 0;
  }
}
.instagram-caption {
  color: #BABAB8;

  @include respond-to('large') {
    font-size: 12px;
    margin-top: 10px;
    line-height: 15px;
  }
}
#blog-page .footer {
  border-top: 1px solid #BDE0E0;
}