#home-page {
  font-family: 'Novecento Sans';

  .content-container {
    @include respond-to('medium-small') {
      padding-top: 30px;
    }
  }

  .content-container.ng-hide {

    @include respond-to('large') {
      display: block !important;
    }
  }
}
section#photo {
  text-align: center;
  background-color: #FBFAF7;
  // max-width: 1200px;
  margin: 0 auto;

  @include respond-to('small') {
    padding: 15px;
  }

  @include respond-to('medium') {
    padding: 30px;
  }

  @include respond-to('large') {
    padding-left: 200px;
    padding-right: 200px;
  }
}
.photo-item {
  position: relative;
  text-align: center;

  @include respond-to('medium-small') {
    margin-bottom: 15px;
  }

  img {
    margin: 5px;
  }

  &:hover .photo-details {
    opacity: 1;
  }
}
.photo-details {
  text-transform: uppercase;

  @include respond-to('medium-small') {
    color: #606060;
    font-size: 14px;
  }

  @include respond-to('large') {
    transition: opacity 500ms;
    color: #FEFEFE;
    display: table;
    left: 0;
    top: 0;
    position: absolute;
    // same as photo
    width: 300px;
    height: 200px;
    opacity: 0;
  }

  span {

    @include respond-to('large') {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

#chronicles-section {
  text-align: center;
  background-color: #FFFFFF;

   @include respond-to('medium-small') {
    display: none;
   }

  @include respond-to('large') {
    padding-right: 50px;
    padding-left: 50px;
  }
}
.section-title {
  font-family: 'Caviar Dreams Bold';
  margin-bottom: 10px;

  @include respond-to('large') {
    color: #4E4E4E;
  }
}
.section-subtitle {
  color: $panado-blue;
  font-size: 14px;
  letter-spacing: 2px;
}
.blog-content-snippets {
  margin-top: 50px;
}
.blog-category-icon {
  margin: 0 auto;
  margin-bottom: 15px;
}
.article-snippet-container {

  img {
    margin-top: 50px;
    margin-bottom: 15px;
  }
}
.article-snippet-container:first-child {
  border-right: 2px solid #E4F1EF;
}
.article-snippet-container:last-child {
  border-left: 2px solid #E4F1EF;
}
.article-snippet-content {
  text-align: left;
  font-family: 'Novecento Sans DemiBold';
  color: #717171;
  padding-bottom: 50px;
  max-width: 350px;
  margin: 0 auto;

  .article-title.snippet,
  .article-date,
  p {
    margin-top: 15px;
  }

  .article-title {
    font-family: 'proxima-nova';
  }

  .article-date {
    font-size: 14px;
    color: $primary-font-color;
  }

  p {
    font-size: 14px;
    color: #B8B8B8;
  }
}
.social-media-icons {

  .icon {
    display: inline-block;
    margin: 5px;
  }
}

#about-section {
  text-align: center;


  @include respond-to('medium-small') {
    display: none;
  }
}
#about-section-content {
  display: inline-block;
  font-size: 14px;

  img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    font-family: 'proxima-nova';
  }

  a {
    color: #92A7A3;
    font-family: 'Novecento Sans DemiBold';
  }

  @include respond-to('medium-small') {
    display: none;
  }
}
#footer-section {
  background-color: #FBFAF7;
  background-image: url('./assets/images/bg4.png');
  background-repeat: no-repeat;
  background-position: bottom right;

  @include respond-to('small') {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include respond-to('medium') {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include respond-to('large') {
    padding-right: 50px;
    padding-left: 50px;
  }

  .title.section-title {
    font-size: 24px;
    font-family: 'Novecento Sans';
  }
}
#about-section-snippet {
  text-align: left;
  margin-bottom: 30px;

  p {
    max-width: 350px;
    color: #878685;
  }
}
#contact-section {
  background-color: pink;
  text-align: center;
  font-family: 'proxima-nova';
  text-transform: uppercase;
  
  @include respond-to('medium-small') {
    width: 100%;
  }

  @include respond-to('large') {
    border-left: 2px solid #D7D7D6;
  }

  &.ng-hide {
    
    @include respond-to('large') {
      // display: block !important;
    }
  }

  input,
  select,
  textarea {
    appearance: none;
    border: 0;
    box-shadow: none;
    background-color: #FFFFFF;
    font-size: 14px;
    resize: none;
  }

  button {
    color: #FFFFFF;
    background-color: $panado-blue;
    width: 100%;
    padding: 15px;
  }
}
#contact-form {
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 700;

  @include respond-to('small') {
    padding: 15px;
  }

  @include respond-to('medium') {
    padding: 30px;
  }

  @include respond-to('large') {
    padding: 50px;
  }
}
#contact-section.ng-hide {

  @include respond-to('large') {
    display: block !important;
  }
}
.footer-notes {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 50px;

  @include respond-to('medium-small') {
    display: none;
  }

  li {
    display: inline-block;
    color: #BFBEBD;
    border-right: 2px solid #BFBEBD;
    font-size: 12px;
    margin: 5px;
    padding-right: 10px;
    text-transform: uppercase;

    &:last-child {
      border: none;
    }
  }
}

.bg2 {
  background-image: url('../assets/images/bg2.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  height: 219px;

  @include respond-to('medium-small') {
    display: none;
  }
}
.bg3 {
  background-image: url('../assets/images/bg3.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  height: 219px;

  @include respond-to('medium-small') {
    display: none;
  }
}