#single-article .content-container {
  
  @include respond-to('medium-small') {
    padding-top: 20px;
  }
}
.title-banner.single-article-banner {
  padding: 40px;
  font-family: 'Novecento Sans DemiBold';
  text-transform: uppercase;
  color: #ACDADA;
  letter-spacing: 3px;
}