$breakpoints: (
  'small': '(max-width: 639px)',
  'medium-small': '(max-width: 1023px)',
  'medium': '(min-width: 640px) and (max-width: 1023px)',
  'medium-up': '(min-width: 640px)',
  'large': '(min-width: 1024px)'
);

$medium-large-width: 945px;
$large-width: 1002px;
$largest-width: 1200px;