<div ng-hide='modalShown' class='header-container' ng-include="'common/partials/_nav.html'"></div>

<div class='page-content-container' ng-class='{modalOpen: modalShown == true}' id='home-page'>
  
  <div ng-show='modalShown' id='slideshow-modal' class='animate-slide'>
    <div class='modal-content'>

      <h3 class='selected-photo-title hide-for-large'>{{selectedPic.name}}</h3>
      <h3 class='selected-photo-subtitle hide-for-large'>Panado Ranch</h3>
      <span ng-click='modalShown = !modalShown; pauseVideo()' id='close-modal'>&times;</span>
  
      <div class='rows slideshow-content'>
        <div class='large-9 columns slide-container'>

          <div ng-repeat='pic in pics'>
          
            <img ng-if='pic.type == "image"' id='slide' ng-src='{{pic.url}}' ng-hide='!isCurrentSlideIndex($index)'>

            <embed-video width='700' height='400' ng-if='pic.type == "vimeo"' id='slide' iframe-id="vimeo1" api="1" player_id="vimeo1" ng-hide='!isCurrentSlideIndex($index)' ng-href="{{pic.url | trustAsResourceUrl}}"><a href="{{pic.url | trustAsResourceUrl}}"></a></embed-video>

            <!-- <youtube-video ng-if='pic.type == "youtube"' video-url="pic.url" player='video' id='slide' ng-hide='!isCurrentSlideIndex($index)'></youtube-video> -->

          </div>

          

          <nav class="slideshow-nav">
            <div class="wrapper">
              <ul class="slideshow-nav-dots">
                <li class="dot" ng-repeat="pic in pics | limitTo: 3">
                  <img href="#" ng-class="{'active':isCurrentSlideIndex($index)}" class='slide-image' ng-click="setCurrentSlideIndex($index); setSelectedPic(pic); pauseVideo()" ng-src='{{pic.url}}'>
                </li>
              </ul>
            </div>
          </nav>

        </div>
  
        <div class='large-3 columns selected-photo-description-container'>
          <h3 class='selected-photo-title show-for-large'>{{selectedPic.name}}</h3>
          <h3 class='selected-photo-subtitle show-for-large'>Panado Ranch</h3>
          <p class='selected-photo-details'>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dicta labore rerum itaque ipsa nihil repellat ad modi iste totam, quaerat eveniet ab quam. Harum fuga sunt libero ad deserunt?
          </p>

          <p class='selected-photo-details'>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dicta labore rerum itaque ipsa nihil repellat ad modi iste totam, quaerat eveniet ab quam. Harum fuga sunt libero ad deserunt?
          </p>

          <div class='filter-tags'>
            <span class='selected-tag' ng-repeat='type in types'>{{type.value}}</span>
          </div>

          <div id='related-blog-post'>
            <h3 class='subtitle'>Related Blog Post</h3>
            <h3 class='blog-title'>Kinetic Cinematography</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <ul id='filter' ng-hide='modalShown'> 
      <li>Type</li>
      <li class='filter-type' ng-click='commercialFilter(); refresh()' ng-class='{"selected-tag": commercial == "commercial"}'>Commercial</li>
      <li class='filter-type' ng-click='narrativeFilter(); refresh()' ng-class='{"selected-tag": narrative == "narrative"}'>Narrative</li>
      <li class='filter-type' ng-click='creativeFilter(); refresh()' ng-class='{"selected-tag": creative == "creative"}'>Creative</li>
    </ul>
  </div>

  <div class='content-container' ng-hide='modalShown'>
    
    <section id='photo'>

      <ul class="dynamic-grid" angular-grid="pics" grid-width="250" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true" >
        <li data-ng-repeat="pic in pics | filter: commercial | filter: narrative | filter: creative" class="grid angular-grid-item image-loaded">

          <img ng-if='pic.type == "image"' src="{{pic.url}}" class="grid-img image-loaded" ng-click='toggleModal(pic); setCurrentSlideIndex($index); pauseVideo()'/>

          <embed-video ng-if='pic.type == "vimeo"' iframe-id="test" api="1" player_id="test" width='300' height='200' ng-href="{{pic.url | trustAsResourceUrl}}" ng-click='pauseVideo(); toggleModal(pic); setCurrentSlideIndex($index)'><a href="{{pic.url | trustAsResourceUrl}}"></a></embed-video>

          <!-- <youtube-video ng-if='pic.type == "youtube"' player-width='300'  player-height='200' video-url="pic.url" player='video' id='video' ng-click='pauseVideo(); toggleModal(pic); setCurrentSlideIndex($index)'></youtube-video> -->
        </li>
      </ul>

      </div>  

    </section>

    <div class='bg2'></div>

    <section id='chronicles-section'>
      <h1 class='section-title title'>Chronicles</h1>
      <h2 class='section-subtitle subtitle'>Blog/Articles</h2>

      <div class='row blog-content-snippets'>

        <div class='large-4 columns article-snippet-container' ng-repeat='article in articles | limitTo: 3'>
          <img class='icon blog-category-icon' ng-src="{{article.categoryIcon}}" alt="">
          <h3 class='title blog-category-title' ng-repeat='category in article.category'>{{category.name}}</h3>
          <div class='article-snippet-content'>
            <img ng-src="{{article.image}}" ng-click='openArticle($index, article.id)'>
            <h1 class='title article-title snippet'>{{article.title}}</h1>
            <span class='article-date'>5 months ago 123 views</span>
            <p class='article-snippet-text'>{{article.text}}</p>
          </div>  
        </div>

      </div>

      <div class='social-media-icons'>
        <img src='../../../assets/icons/facebook.svg' class='icon facebook'>
        <img src='../../../assets/icons/twitter.svg' class='icon twitter'>
        <img src='../../../assets/icons/instagram.svg' class='icon instagram'>
      </div>

    </section>

    <div class='bg3'></div>

    <section id='footer-section'>

      <div class='row'>
        
        <div class='large-6 columns' id='about-section'>
          <div id='about-section-content'>
            <h3 class='title section-title'>Randy Panado</h3>
            <img src="http://placehold.it/350x300">
            <div id='about-section-snippet'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ab exercitationem ut dicta, dolor eius sed. Doloribus, sed totam, odio fuga, amet commodi consectetur accusantium officiis eaque magnam adipisci hic?</p>
            </div>
            <a ui-sref="about">More About Randy</a>
          </div>
        </div>

        <div class='large-6 columns' id='contact-section' ng-hide='modalShown'>
          <h3 class='title section-title'>Contact</h3>
          <form action="" id='contact-form' name='contact_form' ng-model='contact_form'>
            <input type="text" name='name' ng-model='name' placeholder='name'>
            <input type="text" name='phone' ng-model='phone' placeholder='phone'>
            <input type="text" name='email' ng-model='email' placeholder='email'>
            <input type="text" name='company' ng-model='company' placeholder='company'>
            <select name="project_type" ng-model='project_type'>Type of Project</select>
            <input type="text" name='project_date' ng-model='project_date' placeholder='Dates of Project'>
            <textarea name="project_notes" ng-model='project_notes' cols="30" rows="10" placeholder='Project Notes'></textarea>
            <button type='submit'>Submit</button>
          </form>
        </div>

      </div>

      <div class='footer-notes'>
        <ul>
          <li>&copy;2015 Panado</li>
          <li>Designed by GomaGames</li>
          <li>Built With AirshipCMS</li>
        </ul>
      </div>

    </section>

  </div>

</div>