<div class='page-content-container' ng-class='{modalOpen: modalShown == true}' id='home-page'>

  <div ng-hide='modalShown' class='header-container' ng-include="'common/partials/_nav.html'"></div>

  <div ng-show='modalShown' id='slideshow-modal' class='animate-slide'>
    <div class='modal-content'>

      <h3 class='selected-photo-title hide-for-large'>{{selectedPic.name}}</h3>
      <h3 class='selected-photo-subtitle hide-for-large'>Panado Ranch</h3>
      <span ng-click='modalShown = !modalShown; pauseVideo()' id='close-modal'>&times;</span>
  
      <div class='rows slideshow-content'>
        <div class='large-9 columns slide-container'>

          <img ng-if='pic.type == "image"' id='slide' ng-repeat='pic in pics' ng-src='{{pic.url}}' ng-hide='!isCurrentSlideIndex($index)'>

          <embed-video ng-repeat='pic in pics' width='700' height='400' ng-if='pic.type == "video"' id='slide' iframe-id="vimeo1" api="1" player_id="vimeo1" ng-href="{{pic.url | trustAsResourceUrl}}" ng-hide='!isCurrentSlideIndex($index)'><a href="{{pic.url | trustAsResourceUrl}}"></a></embed-video>

          <nav class="slideshow-nav">
            <div class="wrapper">
              <ul class="slideshow-nav-dots">
                <li class="dot" ng-repeat="pic in pics | limitTo: 3">
                  <img href="#" ng-class="{'active':isCurrentSlideIndex($index)}" class='slide-image' ng-click="setCurrentSlideIndex($index); setSelectedPic(pic); pauseVideo()" ng-src='{{pic.url}}'>
                </li>
              </ul>
            </div>
          </nav>

        </div>
  
        <div class='large-3 columns selected-photo-description-container'>
          <h3 class='selected-photo-title show-for-large'>{{selectedPic.name}}</h3>
          <h3 class='selected-photo-subtitle show-for-large'>Panado Ranch</h3>
          <p class='selected-photo-details'>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dicta labore rerum itaque ipsa nihil repellat ad modi iste totam, quaerat eveniet ab quam. Harum fuga sunt libero ad deserunt?
          </p>

          <p class='selected-photo-details'>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dicta labore rerum itaque ipsa nihil repellat ad modi iste totam, quaerat eveniet ab quam. Harum fuga sunt libero ad deserunt?
          </p>

          <div class='filter-tags'>
            <span class='selected-tag' ng-repeat='type in types'>{{type.value}}</span>
          </div>

          <div id='related-blog-post'>
            <h3 class='subtitle'>Related Blog Post</h3>
            <h3 class='blog-title'>Kinetic Cinematography</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <ul id='filter'> 
      <li>Type</li>
      <li class='filter-type' ng-click='commercialFilter(); refresh()' ng-class='{"selected-tag": commercial == "commercial"}'>Commercial</li>
      <li class='filter-type' ng-click='narrativeFilter(); refresh()' ng-class='{"selected-tag": narrative == "narrative"}'>Narrative</li>
      <li class='filter-type' ng-click='creativeFilter(); refresh()' ng-class='{"selected-tag": creative == "creative"}'>Creative</li>
    </ul>
  </div>

  <div class='content-container'>
    
    <section id='photo'>

      <ul class="dynamic-grid" angular-grid="pics" grid-width="250" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true" >
        <li data-ng-repeat="pic in pics | filter: commercial | filter: narrative | filter: creative" class="grid angular-grid-item image-loaded">
          <img ng-if='pic.type == "image"' src="{{pic.url}}" class="grid-img image-loaded" ng-click='toggleModal(pic); setCurrentSlideIndex($index)'/>
          <embed-video ng-if='pic.type == "video"' iframe-id="test" api="1" player_id="test" width='300' height='200' ng-href="{{pic.url | trustAsResourceUrl}}" ng-click='pauseVideo()'><a href="{{pic.url | trustAsResourceUrl}}"></a></embed-video>
          <!-- <img ng-if='pic.type == "video"' src="{{pic.thumbUrl}}" class="grid-img image-loaded" ng-click='toggleModal(pic); setCurrentSlideIndex($index)'/> -->
          <div class='click-over' ng-if='pic.type == "video"'  ng-click='toggleModal(pic); setCurrentSlideIndex($index)'></div>
        </li>
      </ul>

      </div>  

    </section>

    <section id='chronicles-section' class='show-for-large'>
      <h1 class='section-title title'>Chronicles</h1>
      <h2 class='section-subtitle subtitle'>Blog/Articles</h2>

      <div class='row blog-content-snippets'>

        <div class='large-4 columns article-snippet-container'>
          <img class='icon blog-category-icon' src="../../../assets/icons/photography.svg" alt="">
          <h3 class='title blog-category-title'>Tools & Techniques</h3>
          <div class='article-snippet-content'>
            <img src="http://placehold.it/350x150">
            <h1 class='title article-title snippet'>DJI Inspire 1 Log Color</h1>
            <span class='article-date'>5 months ago 123 views</span>
            <p class='article-snippet-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, quia quae. Eius ex quis aliquid, sunt repudiandae veritatis tempora reprehenderit! Perspiciatis, officiis quo odio iste, architecto optio corporis aspernatur minima.</p>
          </div>  
        </div>

        <div class='large-4 columns article-snippet-container'>
          <img src='../../../assets/icons/adventure.svg' class='icon blog-category-icon'>
          <h3 class='title blog-category-title'>Adventure & Travel</h3>
          <div class='article-snippet-content'>
            <img src="http://placehold.it/350x150">
            <h1 class='title article-title snippet'>Trip to San Diego</h1>
            <span class='article-date'>Oct 21, 2015</span>
            <p class='article-snippet-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, quia quae. Eius ex quis aliquid, sunt repudiandae veritatis tempora reprehenderit! Perspiciatis, officiis quo odio iste, architecto optio corporis aspernatur minima.</p>
          </div>
        </div>

        <div class='large-4 columns article-snippet-container'>
          <img src='../../../assets/icons/aerials.svg' class='icon blog-category-icon'>
          <h3 class='title blog-category-title'>Aerials</h3>
          <div class='article-snippet-content'>
            <img src="http://placehold.it/350x150">
            <h1 class='title article-title snippet'>Crimson Creative</h1>
            <span class='article-date'>Oct 1, 2013</span>
            <p class='article-snippet-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, quia quae. Eius ex quis aliquid, sunt repudiandae veritatis tempora reprehenderit! Perspiciatis, officiis quo odio iste, architecto optio corporis aspernatur minima.</p>
          </div>  
        </div>

      </div>

      <div class='social-media-icons'>
        <img src='../../../assets/icons/facebook.svg' class='icon facebook'>
        <img src='../../../assets/icons/twitter.svg' class='icon twitter'>
        <img src='../../../assets/icons/instagram.svg' class='icon instagram'>
      </div>

    </section>

    <section id='footer-section'>

      <div class='row'>
        
        <div class='large-6 columns show-for-large' id='about-section'>
          <div id='about-section-content'>
            <h3 class='title section-title'>Randy Panado</h3>
            <img src="http://placehold.it/350x300">
            <div id='about-section-snippet'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ab exercitationem ut dicta, dolor eius sed. Doloribus, sed totam, odio fuga, amet commodi consectetur accusantium officiis eaque magnam adipisci hic?</p>
            </div>
            <a href="#">More About Randy</a>
          </div>
        </div>

        <div class='large-6 columns' id='contact-section'>
          <h3 class='title section-title'>Contact</h3>
          <form action="" name='contact_form' ng-model='contact_form'>
            <input type="text" name='name' ng-model='name' placeholder='name'>
            <input type="text" name='phone' ng-model='phone' placeholder='phone'>
            <input type="text" name='email' ng-model='email' placeholder='email'>
            <input type="text" name='company' ng-model='company' placeholder='company'>
            <select name="project_type" ng-model='project_type'>Type of Project</select>
            <input type="text" name='project_date' ng-model='project_date' placeholder='Dates of Project'>
            <textarea name="project_notes" ng-model='project_notes' cols="30" rows="10" placeholder='Project Notes'></textarea>
            <button type='submit'>Submit</button>
          </form>
        </div>

      </div>

      <div class='footer-notes'>
        <ul>
          <li>&copy;2015 Panado</li>
          <li>Designed by GomaGames</li>
          <li>Built With AirshipCMS</li>
        </ul>
      </div>

    </section>

  </div>

</div>