@import '../utils/mixins';
@import '../utils/variables';

#filter {
  background-color: #FBFAF7;
  // margin-top: 20px;
  padding-bottom: 20px;
  font-family: 'Novecento Sans';
  color: #737272;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;

  @include respond-to('small') {
    padding-top: 15px;
  }

  @include respond-to('medium') {
    padding-top: 30px;
  }

  @include respond-to('medium-small') {
    text-align: center;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 1;
  }

  @include respond-to('large') {
    text-align: right;
    // margin-left: 50px;
    padding-right: 50px;
  }

  li {
    display: inline-block;
  }
}
#filter.ng-hide {

  @include respond-to('large') {
    display: block !important;
  }
}

li.filter-title{
  margin-right: 10px;
  &:after{
    content: ":";
  }
}

li.filter-type {
  cursor: pointer;

  font-family: 'Novecento Sans';
  color: #737272;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 3px 5px 2px;
  // margin-left: 5px;

  @include respond-to('small') {
    padding: 0;
  }

  @include respond-to('medium-small') {
    // margin-left: 10px;
    font-size: 12px;
    margin-bottom: 0;
  }

  @include respond-to('large') {
    // margin-left: 5px;
  }
}

li.filter-type.selected-tag {
  margin-bottom: 0;

  @include respond-to('medium-small') {
    background-color: transparent;
    border-bottom: 3px solid #ABD9D9;
  }
  
  @include respond-to('large') {
    background-color: #CCE5E1;
    color: #777E7D;
  }
}