.masonry-filters{
  padding: 10px 0;
  // background-color: purple;

  @include respond-to('large') {
    padding-bottom: 0;
    padding-top: 55px;
    border-top: 1px solid $panado-blue;
  }
}

#filter {
  // margin-top: 20px;
  padding: 0;
  margin: 0;
  // background-color: pink;
  background-color: $panado-tan;
  // padding-bottom: 20px;
  font-family: 'Novecento Sans';
  color: $panado-brown;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: -1px;

  @include respond-to('medium-small') {
    padding: 15px 0;
    text-align: center;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 1;
    transition: all 0.2s ease;
    transform: translateY(0);
    border-bottom: 1px solid $panado-blue;
  }

  @include respond-to('large') {
    text-align: right;
    // margin-left: 50px;
    margin:auto;
    max-width: 1350px;
    padding: 0 28px 0 30px;
    // padding-right: 50px;
  }

  li {
    display: inline-block;
  }

  &.active {

    @include respond-to('medium-small') {
      transform: translateY(-50px);
      opacity: 0;
      transition: all 0.2s ease;
    }
  }
}

#filter.ng-hide {

  @include respond-to('large') {
    display: block !important;
  }
}

#filter li.filter-title{
  display: none;

  @include respond-to('medium'){
    display: inline-block;
    // margin-right: 10px;
    &:after{
      content: ":";
    }
  }
  @include respond-to('large'){
    display: inline-block;
    // margin-right: 10px;
    &:after{
      content: ":";
    }
  }
}

li.filter-type {
  cursor: pointer;
  font-family: 'Novecento Sans';
  color: $panado-brown;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  padding:2px 4px;
  margin:0;
  margin-left: 3px;
  transition: all 0.2s ease;
  border-radius: 2px;
  // margin-left: 20px;
  // margin-left: 5px;

  &:hover{
    background-color: #EEE;
  }

  @include respond-to('small') {
  }

  @include respond-to('medium-small') {
    // margin-left: 10px;
    font-size: 12px;
  }

  @include respond-to('large') {
    // margin-left: 5px;
  }
}

li.filter-type.selected-tag {
  padding:2px 4px;
  margin:0;
  margin-left: 3px;
  transition: all 0.2s ease;
  border-radius: 2px;
  background-color: $panado-blue;
}