.dynamic-grid{
  position: relative;
  display: none;
}
.dynamic-grid.angular-grid{
  display: block;
}
.grid {
  border: 1px solid #cccccc;
  position: absolute;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  transition: all 0.6s ease-out; 
}
.grid-img {
  width: 100%;
  vertical-align: middle;
  transition: opacity 0.6s ease-out;
  background-color: #fff;
  opacity: 0; 
  visibility: hidden;
}  
.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}

/*animations*/
.dynamic-grid {
  position: relative;
  display: none;
}
.dynamic-grid.angular-grid {
  display: block;
}
.grid {
  position: absolute;
  list-style: none;
  background: #ffffff;;
  box-sizing: border-box;
  transition: all 400ms ease;
  overflow: hidden;
}
.grid.ng-leave {
  transition: all ease 400ms;
}
.grid.ng-leave.ng-leave-active {
  transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter {
  transition: all ease 400ms;
  transition-delay: 500ms;
  transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter.ng-enter-active {
  transform: scale(1);
  opacity: 1;
}
.grid-img {
  width: 100%;
  vertical-align: middle;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}
.angular-grid-item {
  position: absolute;
  top: 0;
  right: 0;
}