@import './utils/variables';
@import './utils/mixins';

.page-content-container {
  margin: 0 auto;
  cursor: default;

  @include respond-to('medium-small') {
    margin-top: 80px;
  }
}
.page-content-container.modalOpen {

  @include respond-to('medium-small') {
    margin-top: 0;
  }
}
.title,
.subtitle {
  text-transform: uppercase;
}
.title {
  color: #4B4B4B;
}
.columns {
  padding: 0;
}