@import 'variables';
@import 'mixins';

body {
  background-color: #FBFAF6;
}
.page-content-container {
  margin: 0 auto;

  @include respond-to('medium-small') {
    margin-top: 80px;
  }
  
  @include respond-to('large') {
    // max-width: $largest-width;
    // margin: 50px;
  }
}
.title,
.subtitle {
  text-transform: uppercase;
}
.title {
  color: #4B4B4B;
}