@import 'variables';
@import 'mixins';

#slideshow-modal {
  background-color: #464646;
  position: relative;
  font-family: 'Novecento Sans Light';

  @include respond-to('small') {
    padding: 15px;
    height: auto;
    overflow: auto;
  }

  @include respond-to('large') {
    // padding: 50px;
  }
}
.modal-content {

  @include respond-to('large') {
    padding: 50px;
  }
}
#close-modal {
  position: absolute;
  right: 0;
  top: 0;
  color: #898989;
  font-size: 70px;
  cursor: pointer;

  @include respond-to('large') {
    margin-right: 20px;
  }
}
#slide {
  width: 100%;

  @include respond-to('small') {
    margin-top: 15px;
  }
  
  @include respond-to('large') {
    height: 400px;
  }
}
.slideshow-nav-dots {
  text-align: center;
  
  @include respond-to('small') {
    margin-top: 15px;
  }

  @include respond-to('large') {
    margin-top: 20px;
  }
}
li.dot {
  display: inline-block;
}
.slide-image {
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
}
img.active {
  border: 5px solid #CFCFCF;
}
.selected-photo-description-container {

  @include respond-to('large') {
    padding-left: 50px;
  }
}
.selected-photo-title {
  color: #CFCFCF;
  font-family: 'proxima-nova';

  @include respond-to('small') {
    font-size: 20px;
  }

  @include respond-to('large') {
    font-size: 36px;
  }
}
.selected-photo-subtitle {
  color: #95BABA;
  font-family: 'Novecento Sans';

  @include respond-to('small') {
    font-size: 12px;
  }

  @include respond-to('large') {
    font-size: 14px;
  }
}
.selected-photo-details {
  color: #B8B8B8;
  margin-top: 30px;
  font-family: 'Novecento Sans';
  font-size: 14px;
  font-family: 'proxima-nova';
}
.filter-tags {
  margin-top: 30px;
}
.selected-tag {
  background-color: #ACDADA;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 50px;
  color: #464646;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  font-family: 'Novecento Sans';
  font-size: 14px;
}
#related-blog-post {
  border-left: 5px solid #ACDADA;
  padding-left: 5px;

  .subtitle {
    color: #ACDADA;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Novecento Sans';
  }

  .blog-title {
    color: #CDCDCD;
    font-family: 'proxima-nova';
    font-size: 14px;
  }
}
.animate-slide {

  @include respond-to('large') {
    // height: 95vh;
    height: 600px;
    // display: inline-block;
    // width: 100%;
    opacity: 1;
  }
}
.animate-slide.ng-hide-add.ng-hide-add-active,
.animate-slide.ng-hide-remove.ng-hide-remove-active {
  
  @include respond-to('large') {
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
}
.animate-slide.ng-hide {

  @include respond-to('large') {
    height: 0;
    opacity: 0;
  }
}


// remove 
.click-over {
  // background-color: red;
  width: 300px;
  height: 200px;
  z-index: 1;
  z-index: 1;
    position: absolute;
    top: 0;
}