@import 'mixins';
@import 'variables';

#filter {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Novecento Sans';
  color: #737272;
  font-size: 14px;

  @include respond-to('medium-small') {
    text-align: center;
  }

  @include respond-to('large') {
    text-align: right;
    margin-left: 50px;
    margin-right: 50px;
  }

  li {
    display: inline-block;
  }
}
.filter-type {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;

  @include respond-to('medium-small') {
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 0;
  }

  @include respond-to('large') {
    margin-left: 20px;
  }
}
.filter-type.selected-tag {

  @include respond-to('medium-small') {
    padding: 0;
    background-color: transparent;
    border-bottom: 3px solid #ABD9D9;
  }
  
  @include respond-to('large') {
    background-color: #CCE5E1;
    color: #777E7D;
  }
}