@import 'mixins';
@import 'variables';
@import 'typography';

.header-container.ng-hide {

  @include respond-to('large') {
    display: block !important;
  }
}
.header {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: green;

  @include respond-to('medium-small') {
    position: fixed;
    top: 0;
    border-bottom: 2px solid #BEE1E0;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-color: white;
  }

  @include respond-to('large') {
    margin: 50px;
  }
}
.logo-container {
  width: 50%;
  float: left;
  display: inline-block;

  @include respond-to('large') {
    width: 50%;
    -moz-animation-name: logoSlideIn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.5s;

    -webkit-animation-name: logoSlideIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;

    animation-name: logoSlideIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
  }

  h2 {
    color: #B3B3B2;
    font-family: 'Novecento Sans DemiBold';
  }
}
#header-info {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
#header-title {
  font-size: 26px;
  color: #5B5B5B;
  display: inline-block;
  font-family: 'Caviar Dreams Bold';

  @include respond-to('medium-small') {
    font-size: 16px;
  }
}
.logo {
  width: 70px;
  height: 70px;
  display: inline-block;

  @include respond-to('medium-small') {
    width: 30px;
    height: 30px;
  }
}
.nav-section {
  font-family: 'Novecento Sans';
  background-color: red;
  float: right;

  @include respond-to('large') {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.nav-list {

  @include respond-to('medium-small') {
    display: none;
  }
}
.nav-list.toggle-nav {
  display: block;
}
.nav-item {
  display: inline-block;
  margin-right: 20px;

  a {
    color: #505050;
  }

  @include respond-to('medium-small') {
    display: block;
  }
}
#blog-nav {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ADDDDD;
  background-color: #EAE9E4;
  visibility: hidden;
}
#blog-nav.show-nav {
  visibility: visible;
}
// .icon temporary placeholder
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.blog-logo-container, 
.blog-nav-section {
  float: none;
  display: inline-block;
}
.toggle-dropdown {
  width: 30px;
  height: 30px;
}
.blog-dropdown-nav {
  display: inline-block;
  
  ul {
    position: absolute;
    top: 55px;
    right: 200px;
    background-color: #EAE9E4;
  }

  .nav-item {
    display: block;
    margin: 15px;
  }
}

@-moz-keyframes logoSlideIn {
  0% {
    -moz-transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes logoSlideIn {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}
@keyframes logoSlideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}