@import 'mixins';
@import 'variables';
@import 'typography';

.header-container.ng-hide {

  @include respond-to('large') {
    display: block !important;
  }
}
.header {
  font-size: 14px;

  @include respond-to('medium-small') {
    position: fixed;
    top: 0;
    border-bottom: 2px solid #BEE1E0;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-color: white;
  }

  @include respond-to('large') {
    margin: 50px;
  }
}
.logo-container {
  float: left;
  width: 50%;

  h2 {
    color: #B3B3B2;
    font-family: 'Novecento Sans';
  }
}
#header-info {
  display: inline-block;
}
#header-title {
  font-size: 36px;
  color: #5B5B5B;
  display: inline-block;
  font-family: 'Caviar Dreams Bold';

  @include respond-to('medium-small') {
    font-size: 16px;
  }
}
.logo {
  width: 70px;
  height: 70px;
  display: inline-block;

  @include respond-to('medium-small') {
    width: 30px;
    height: 30px;
  }
}
.nav-section {
  float: right;
  font-family: 'Novecento Sans';
}
.nav-list {
  
  @include respond-to('medium-small') {
    display: none;
  }
}
.nav-list.toggle-nav {
  display: block;
}
.nav-item {
  display: inline-block;
  margin-right: 20px;

  a {
    color: #505050;
  }

  @include respond-to('medium-small') {
    display: block;
  }
}
#blog-nav {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ADDDDD;
  background-color: #EAE9E4;
  visibility: hidden;
}
#blog-nav.show-nav {
  visibility: visible;
}
// .icon temporary placeholder
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.blog-logo-container, 
.blog-nav-section {
  float: none;
  display: inline-block;
}
.toggle-dropdown {
  width: 30px;
  height: 30px;
}
.blog-dropdown-nav {
  display: inline-block;
  
  ul {
    position: absolute;
    top: 55px;
    right: 200px;
    background-color: #EAE9E4;
  }

  .nav-item {
    display: block;
    margin: 15px;
  }
}