@import 'mixins';
@import 'variables';
@import 'typography';

.logo-container {
  float: left;
  width: 50%;

  h2 {
    color: #B3B3B2;
  }
}
#header-info {
  display: inline-block;
}
#header-title {
  font-size: 40px;
  color: #5B5B5B;
  display: inline-block;
  font-family: 'Caviar Dreams';
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #545454;
  display: inline-block;
  vertical-align: top;
}
.nav-section {
  float: right;
}
.nav-list {

  @include respond-to('medium-small') {
    display: none;
  }
}
.nav-list.toggle-nav {
  display: block;
}
.nav-item {
  display: inline-block;
  color: #4E4E4E;
  margin-right: 20px;

  @include respond-to('medium-small') {
    display: block;
  }
}
#blog-nav {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ADDDDD;
  background-color: #EAE9E4;
  visibility: hidden;
}
#blog-nav.show-nav {
  visibility: visible;
}
// .icon temporary placeholder
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #635C56;
}
.blog-logo-container, 
.blog-nav-section {
  float: none;
  display: inline-block;
}
.toggle-dropdown {
  width: 30px;
  height: 30px;
  background-color: #A4A4A4;
}
.blog-dropdown-nav {
  display: inline-block;
  
  ul {
    position: absolute;
    top: 55px;
    right: 200px;
    background-color: #EAE9E4;
  }

  .nav-item {
    display: block;
    margin: 15px;
  }
}