@font-face {
  font-family: 'Novecento Sans Light';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_1_0.woff');
}
@font-face {
  font-family: 'Novecento Sans Thin';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_3_0.woff');
}
@font-face {
  font-family: 'Novecento Sans';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_4_0.woff');
}
@font-face {
  font-family: 'Novecento Sans Bold';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_0_0.woff');
}
@font-face {
  font-family: 'Novecento Sans DemiBold';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_2_0.woff');
}
// @font-face {
//   font-family: 'Novecento Sans Light';
//   src: url('../../assets/fonts/novecento_sans/2FE2AA_5_0.woff');
// }

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../../assets/fonts/caviarDreams/caviarDreams.WOFF');
}
@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url('../../assets/fonts/caviarDreams/caviarDreams_Bold.WOFF');
}
@font-face {
  font-family: 'Caviar Dreams BoldItalic';
  src: url('../../assets/fonts/caviarDreams/caviarDreams_BoldItalic.WOFF');
}
@font-face {
  font-family: 'Caviar Dreams Italic';
  src: url('../../assets/fonts/caviarDreams/caviarDreams_Italic.WOFF');
}

.title {
  font-family: 'Caviar Dreams Bold';
  letter-spacing: 2px;
}
.subtitle {
  font-family: 'Novecento Sans';
}
.title.blog-category-title {
  font-family: 'Novecento Sans';
  font-size: 20px;
}
.title.article-title.snippet {
  font-family: 'proxima-nova';
  font-size: 20px;
  letter-spacing: 0;
}
.article-date {
  font-family: 'proxima-nova';
}
.article-snippet-text {
  font-family: 'proxima-nova';
}
.title.section-title {
  font-family: 'Novecento Sans';
  font-size: 20px;
}
#about-section-snippet {
  font-family: 'proxima-nova';
  font-size: 14px;
}
.footer-notes {
  font-family: 'proxima-nova';
}