@font-face {
  font-family: 'Novecento Sans Light';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_1_0.woff');
}
@font-face {
  font-family: 'Novecento Sans Thin';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_3_0.woff');
}
@font-face {
  font-family: 'Novecento Sans';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_4_0.woff');
}
@font-face {
  font-family: 'Novecento Sans Bold';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_0_0.woff');
}
@font-face {
  font-family: 'Novecento Sans DemiBold';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_2_0.woff');
}
@font-face {
  font-family: 'Novecento Sans Wide';
  src: url('../../assets/fonts/novecento_sans/2FE2AA_2_0.woff');
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../../assets/fonts/caviarDreams/caviarDreams.WOFF');
}
@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url('../../assets/fonts/caviarDreams/caviarDreams_Bold.WOFF');
}
@font-face {
  font-family: 'Caviar Dreams BoldItalic';
  src: url('../../assets/fonts/caviarDreams/caviarDreams_BoldItalic.WOFF');
}
@font-face {
  font-family: 'Caviar Dreams Italic';
  src: url('../../assets/fonts/caviarDreams/caviarDreams_Italic.WOFF');
}

.title {
  font-family: 'Caviar Dreams Bold';
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $primary-font-color;

  &.blog-category-title {
    font-family: 'Novecento Sans';
    font-size: 20px;
  }
  
  &.article-title.snippet {
    font-family: 'proxima-nova';
    font-size: 20px;
    letter-spacing: 0;
  }

  &.section-title {
    font-family: 'Novecento Sans';
    font-size: 30px;
  }
}

.subtitle {
  font-family: 'Novecento Sans DemiBold';
  text-transform: uppercase;
  color: $title-blue;
}

.article-date {
  font-family: 'proxima-nova';
}

.article-snippet-text {
  font-family: 'proxima-nova';
}

#about-section-snippet {
  font-family: 'proxima-nova';
  font-size: 14px;
}

.footer-notes {
  font-family: 'proxima-nova';
}
